$lightest-gray: #c4c4c4;
$light-gray: #aaaaaa;
$gray: #484848;

$salmon: #FF5A5F;
$white: #ffffff;
$black: #000000;

$seablue: #008489;
$turquoise: #00C5CD;
$darker-turqoise: #32b9a1;
$lighter-turqoise: #bce9e1;
$lighter-than-logo: #4ebdaa;

$shadow: #3b3333;