@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Open+Sans|Roboto|Source+Sans+Pro');

$circular: 'Noto Sans', 'Open Sans', 'Source Sans Pro', 'Roborto', sans-serif;
$his_circular: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$serif: georgia,"times new roman",times,serif;
$sans-serif: arial, helvetica, sans-serif;