.show-page {
  width: 100%;
}

.show-details {
  display: block;
  margin: 0 10%;
  width: 600px;
}

.short-summary {
  border: 1px solid $gray;
  display: block;
  padding: 50px 50px;
  width: 500px;
}
.detail-name {
  font-size: 24px;
  font-weight: bold;
  left: 0;
  display: block;
  margin-bottom: 20px;
}

.detail-city {
  font-size: 14px;
  font-weight: normal;
  left: 0;
  display: block;
  margin-bottom: 20px;
}

.big-details {
  display: flex;
  justify-content: space-between;
}

.big-details-col {
    margin: 10px auto;
    display: flex;
    vertical-align: middle;
    flex-direction: column;
    text-align: center;
}

.big-details-col > img {
  height: 30px;
  max-width: 30px;
  margin: 0 auto;
}

.about {
  display: block;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  font-size: larger;
  
  h4 {
    font-size: 20px;
  }
}

.about tbody{
    display: table-row-group;
    vertical-align: inherit;
    border-color: inherit;
}

.about-table tr{
  display: block;
  margin: 15px 3px;
}

.about-table th{
  left: 0;
  top: 0;
  margin-right: 30px;
  min-width: 80px;
  text-align: left;
}


.about-details {
  font-weight: bold;
  margin-right: 20px;
}

.review {
  border-top: 1px solid $gray;
  border-bottom: 1px solid $gray;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
}

.review h3 {
  font-size: 20px;
}

.booking-h3 {
  font-size: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.reviews-show li {
  display: flex;
  margin-bottom: 10px;
}

.review-user {
  width: 200px;
}

.review-body {
  width: 400px;
}


.review-header {
  font-size: 18px;
}

.review-body-textarea {
  height: 200px;
  width: 560px;
  border: 1px solid $light-gray;
}

.ReactStars {
  margin-left: 10px;
  display: block;
}

.review-button {
  font-size: 14px;
  background-color: $lighter-than-logo;
  margin-top: 1%;
  position: inherit;
  right: 0;
  margin-right: 20px;
}

.booking {
  width: 300px;
  border: 1px solid $gray;
  margin-top: 10%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 30%;
  margin-left: 20px;
  margin-right: 20px;
}

.booking-header {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: $lighter-than-logo;
  color: $white;
}

.booking-header-item-price {
  font-size: 18px;
  font-weight: bold;
}
.booking-header-item-per-night {
  font-size: 14px;
}
.panel1 {
  display: flex;
  padding: 12px;

}
.panel-label {
  color: $gray;
  font-weight: bold;
  font-size: 14px;
}

.booking-date-picker {
  border: 1px solid $light-gray;
  margin-right: 5px;
  width: 100px;
  padding: 10px;
}

.booking-button {
  background-color: $lighter-than-logo;
  padding: 0;
  font-size: 14px;
  width: inherit;
  margin-bottom: 5px;
  padding: 10px 0;
  font-weight: bold;
}

.panel2 {
  display: flex;
  padding: 12px;
}

#label-guests {
  display: block;
  margin-bottom: 10px;
}

.no-reviews {
  display: relative;
  margin-bottom: 15px;
}

.errors-for-reviews {
  color: red;
  padding: 11px 0;
  font-style: italic;
}

#panel-guests {
  padding: 5px;
}

.booking-errors {
  color: red;
  padding: 11px 0;
  font-style: italic;
}