.home {
  display: flex;
  text-align: center;
  flex-direction: column;
  // justify-content: center;
  position: relative;
  background-size: cover;
  width: 100%;
  height: 364.76px; 
  min-width: 300px;
  color: $white;
}

#home-welcome {
  font-size: 47px;
  text-shadow: 3px 4px $shadow;
  margin-top: 120px;
}

#home-subtitle {
  text-shadow: 3px 4px $shadow;
  font-size: 15px;
}

.video-div {
  position:absolute;
  height: 100%;
  width: 100%;
  overflow:hidden;
  z-index: -100;
}


.video {
  display: inline-block;
  position: absolute;
  width: 100%;
  height: auto;
  z-index: 0;
}

#home-video {
  height: 100%;
}
// #media (max-width: 1089px) {
//       #welcome-video {
//         height:100%;
//         width: auto;
// }