.home {
  background-image: url("http://res.cloudinary.com/candycanetrain/image/upload/v1489979630/Theed-MoaTM_xxijdg.png");
  display: flex;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  max-width: 712px; 
  min-width: 300px;
  height: 300px;
  z-index: -1;
  align-content: space-between;
}

