.welcome-message {
  display: flex;
  color: $gray;
  font-family: $circular;
  line-height: 34px;
  font-size: 16px;
  font-weight: bold;
}

.login-signup-modal {
  color: $lighter-than-logo;
  font-family: $gray;
  background-color: $white;
  position: relative;
  width: 386px;
  max-width: 100%;
  z-index: 2;
}

.control-group {
  display: flex;
  border: 1px solid $light-gray;
  font-size: 16px;
  padding: 10px 10px 10px 10px;
  color: $gray;
  justify-content: space-between;
}

.toggle-signup-login {
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.signup-demo {
  display: flex;
  align-items: baseline;
  :last-child {
    margin-left: 10px;
  }
}

.toggle-button {
  border: 1px solid $lighter-than-logo;
  background-color: $white;
  color: $lighter-than-logo;
  font-weight: normal;

}

.submit-button {
  display: flex;
  font-size: 16px;
  background-color: $lighter-than-logo;
  color: $white;
  // padding: 20px 27px;
  justify-content: center;
  font-weight: none;
  margin-bottom: 15px;
}
.submit-button input{
  padding: 20px 100%;

}




.toggle-message {
  display: inline-block;
  color: $gray;
  font-family: $circular;
  margin-right: 4px;
  line-height: 34px;
  font-size: 16px;
  float: left;
}
