.navbar-login-signup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: $circular;
  font-size: 20px;
  color: $gray;
  background-color: transparent;
}

.navbar-login-signup > li {
  align-items: center;
}
.navbar-login-signup > li > a {
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;    
  position: relative;
  font-size: 13px;
}

.nav-button {
  font-family: $circular;
  color: $gray;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;    
  position: relative;
  font-size: 13px;
  font-weight: normal;
}

.nav-group {
  display: flex;
  align-items: baseline;
  
}