.room-index-header {
  padding: 2px 0px;
  margin-bottom: 24px;
}


.room-index-body {
  margin: 5% 10%;
}

.featured-rooms-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.room-index-item {
  display: inline-block;
  max-height: 400px;
  max-width: 400px;
  margin: 5px;
}

.featured-rooms-list {
  flex-direction: row;
  flex: 1 1 33%;
}

.featured-room {
  padding: 0 8px 30px;

}
.room-pic {
  width: 350px;
  height: 200px;
}
.featured-room-img {
  height: 100%;
  width: 100%;
  cursor:pointer;
}

.featured-room-price {
  font-size: 14px;
}


.mini-summary-under-pic {
  color: #484848;
  padding-top: 8px;
  font-size: 15px;
  letter-spacing: 0.2px;
  line-height: 18px;
  &:hover {
    cursor: pointer;
  }
}

.room-price {
  display: block;
  font-weight: 700;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
}

.img-container {
  background-size: cover;
  height: 350px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
