.search-form {
  z-index: 0;
  display: flex;
}
.search-form-row {
  display:flex;
  width: 100%;
  position: relative;
  z-index: 0;
  // background-color: $gray;
  // background: rgba(40,40,40,40);
  // opacity: 0.8;
  justify-content: center;
  bottom: 0;  
  margin-top: 40px;
}

.search-form1 {
  opacity: 1;
}

.search-form-ul {
  display: flex;
  align-items: inherit;
  justify-content: space-between;
  background-color: white;
  opacity: 0.96;

}
.search-form-ul > li {
  
  display: inline-block;
  border-left: 1px $light-gray solid;
  border-top: 1px $light-gray solid;
  border-bottom: 1px $light-gray solid;
  // :last-child {
  //   border-right: 1px $light-gray solid;
    
  // }
}
.search-dates {
  display: inline;
}
.search-dates-div {
  display: flex;
}
.search-dates-div input {
  display: inline;
}
.date-input {
  display: inline;
}

.search-button {
  background-color: $lighter-than-logo;
  display: inline;
  opacity: 0.96;

}

.li label {
  display: inline;
}
.li > input {
  display: inline;
}

#search-form1 {
  justify-content: baseline;
}

.search-form-label {
  color: black;
  display:block;
  background-color: $lighter-than-logo;

}

.li-button {
  width: 30x;
}

// .search-fields {
//   height: 10px;
// }

.location-input {
  height: 30px;

  font-weight: 200;
  font-size: 18px;
  line-height: 24px;
  color: #757575;
  margin: 0;
  padding: 8px;
  background: rgba(0, 0, 0, 0);
  position: relative;
  display: inline-block;
  width: 130px;
  vertical-align: middle;
}

.guests-input {
  height: 30px;
  font-weight: 200;
  font-size: 18px;
  line-height: 24px;
  color: #757575;
  margin: 0;
  background: rgba(0, 0, 0, 0);
  position: relative;
  display: inline-block;
  width: 180px;
  vertical-align: middle;
}

.li-button {
  align-items: center;
}

.li-button i {
  width: 50px;
  height: 63px;
}
