.user-pane {
  position: relative;
  z-index: 1;
  background-color: $gray;
  background: rgba(40,40,40,40);
}

.search-form {
  z-index: 1;
  display: flex;
}
.search-form-row {
  display:flex;
  width: 100%;
  
}

.search-form-ul {
  display: flex;
  align-items: inherit;
  justify-content: space-between;

}
.search-form-ul > li {
  
  display: inline-block;
  border-left: 1px $light-gray solid;
  border-top: 1px $light-gray solid;
  border-bottom: 1px $light-gray solid;
  :last-child {
    border-right: 1px $light-gray solid;
    
  }
}
.search-dates {
  display: inline;
}
.search-dates-div {
  display: flex;
}
.search-dates-div input {
  display: inline;
}
.date-input {
  display: inline;
}

.search-button {
  background-color: $turquoise;
  display: inline;
}

.li label {
  display: inline;
}
.li > input {
  display: inline;
}

#search-form1 {
  justify-content: baseline;
}